<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oof, Page Not Found</title>
</head>

<body>
    <center>
        <div class="container-fluid">
            <div class="title-div">
                <h1>404</h1>
            </div>
            <div class="text-div-div">
                <div class="text-div">
                    <p><em>Oof, something happened. Gimme a second to fix this.</em>
                        <a class="badge badge-warning" href="/">Take me back</a></p>
                </div>
            </div>


        </div>
    </center>

</body>

</html>