{% extends 'base.html' %} {% block title %}{{title}}{% endblock %} {% block content %}

<article class="story story-tech_news">

    <h1 class="text-center">{{title}}</h1>
    <hr/> {% for article in articles %}


    <div class="top-container">
        <div class="row">
            <h3>
                <center>
                    <strong>{{article.title}}</strong>
                </center>
            </h3>
            <img src="{{article.urlToImage}}" class="float-right" style="width: 60%" />
            <div class="ln-caption">Author: {{article.author}}</div>
            <div class="ln-caption" >{{article.source.name}}
            <div class="ln-caption">Published: {{article.publishedAt}}</div>
            <!-- <p>{{article.date_added}}</p> -->

            <p>{{article.id}}</p>
            <p>{{article.description}}</p>
            <p>{{article.content}}</p>
       


            <a href=" {{ article.url }}" class="btn btn-primary" target="_blank">Read more...
                <i class="fas fa-external-link-alt"></i>
             
            </a>
                    
            <form method="POST" action="/users/favorites/{{article.id}}">
            <button class="btn btn-sm btn-primary">
                    <i class="fas fa-bookmark"></i>
                    </button>
            </form>
        </div>
    </div>
    

    </div>


    {% endfor %}

</article>
{% endblock %}

 SELECT articles.id AS articles_id, articles.url AS articles_url,
  articles.author AS articles_author, articles."publishedAt" AS "articles_publishedAt", 
  articles.title AS articles_title, articles.description AS articles_description, articles."urlToImage" 
  AS "articles_urlToImage", articles.content AS articles_content, 
  articles.date_added AS articles_date_added, articles.user_id AS articles_user_id, 
  articles.article_id AS articles_article_id 
