{% extends 'base.html' %} {% block title %}Latest Articles{% endblock %} {% block content %}


<article class="story story-latest_news">

    <h1 class="text-center">Latest News</h1>
    <hr/> {% for latest_article in latest_articles %}

    <div class="latest-container">
        <div class="row">
            <h3>
                <center>
                    <strong>{{latest_article.title}}</strong>
                </center>
            </h3>
            <img src="{{ latest_article.urlToImage }}" class="float-right" style="width:60%" />
            <div class="ln-caption">Author: {{ latest_article.author}} {{latest_article.date_published}}</div>

            <p>{{ latest_article.date_published }}</p>
            <p> {{latest_article.description}}</p>
            <a href="{{ latest_article.url }}" class="btn btn-primary" target="_blank">Read more...
            <i class="fas fa-external-link-square-alt"></i>
            {# <!-- </br>
            <i class="fa fa-share-alt"></i> --> #}
             </a>

            <form method="POST" action="/users/favorites/{{latest_article.id}}">
                <p>{{ latest_article.id }}</p>
                <p>{{latest_article.user_id}}</p>

                <button class="btn btn-sm btn-primary">
                    <i class="fas fa-bookmark"></i>
                    </button>

            </form>
        </div>
    </div>

    {% endfor %}
</article>

{% endblock%}

    <footer class="sticky-footer ">
        <div class="container text-center ">
            <small>&copy;2022 Aletheia</small>
            <p>
                <small>Made with <i class="fa fa-far fa-heart" aria-hidden="true"></i> by Xuxa415</small>
            </p>
                <p>
                    <span class="contact-links">
                        <a href="https://www.linkedin.com/in/covalle415/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://github.com/XuXaO415" target="_blank">
                            <i class="fab fa-github"></i>
             
                        <span>
                            <a href="https://www.instagram.com" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://twitter.com" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                          
                        </span>
                        <p>
                    <small><a href="#">Back to top</a></small>
                    </p>
                </center>
                </p>
        </div>
    </footer>
