{% extends 'base.html' %} {% block title %}Latest Articles{% endblock %} {% block content %}


<article class="story story-latest_news">

    <h1 class="text-center">Latest News</h1>
    <hr/> {% for latest_article in latest_articles %}

    <div class="latest-container">
        <div class="row">
            <h3>
                <center>
                    <strong>{{latest_article.title}}</strong>
                </center>
            </h3>
            <img src="{{ latest_article.urlToImage }}" class="float-right" style="width:60%" />
            <div class="ln-caption">Author: {{ latest_article.author}} {{latest_article.date_published}}</div>

            <p>{{ latest_article.date_published }}</p>
            <p> {{latest_article.description}}</p>
            <a href="{{ latest_article.url }} " target="_blank">Read more... </a>
            <!-- <form method="POST" action="/users/{{g.user.id}}/favorite"> -->
            <form method="POST" action="/users/favorite/{{likes_id}}">
                <button class="btn btn-sm btn-primary">
            <i class="fas fa-bookmark"></i>
               </button>
                <!-- <form method="POST" action="/users/delete/{{ favorite_articles_id }}">
                    <button class="btn btn-sm btn-secondary">
            <i class="fa fa-thumbs-down"></i>
          </button>
                </form> -->
            </form>
        </div>
    </div>

    {% endfor %}
</article>

{% endblock%}