{% extends 'base.html' %} {% block title %}Favorites{% endblock %} {% block content %}


<h1 class="text-center mt-3 top-text mb-3 ">{{ g.user.username }}'s likes</h1>

<div class="card-text mb-auto ">
    <!-- <h4 class="card-title">Likes</h4> -->

    <ul>
        {% for article in articles %}
        <div class="container-row">
            <div class="row">
                <h5>{{article.title}}</h5>
                <h6>{{article.publishedAt}}</h6>
                <p>{{article.date_added}}</p>
                <img src="{{article.urlToImage}}"></div>
            <h6>{{article.author}}</h6>
            <p>{{article.description}}</p>
            <a href=" {{article.url}} ">Read more...
                <i class=" fas fa-external-link-alt "></i>  
                </a>
            <p>show id for ref: {{article.id}}</p>


            <a href="/users/delete/{{article.id}}">
                <button class="btn btn-outline-danger">
                    <i class="fas fa-trash"></i>
                </button>
            </a>
            <!-- <form method=" POST " action="/users/delete/{{article.id}} ">
                    <button class="btn btn-outline-danger ">
                <i class="fas fa-trash "></i>
                </button>

                </form> -->{% endfor %}

    </ul>
    </div>
</div>

{% endblock %}